# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.settings.local.json


node_modules/
dist
dist-ssr
*.local
conductor/
.venv/

__pycache__
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
.pyc
*.sw?

.claude/
GEMINI.md
backend/.venv
backend/venv
.venv/
.claude/
CLAUDE.md